/* App Styless */
/* *{
  border: 1px solid black;
} */
.App {
  text-align: center;
}

/* Header Styles */
h1{
  margin-top:0;
  margin-bottom:1%;
}
h3{
  margin:0;
}

.navbar{
width: 100%;  
}
p{
  width:80%;
  align-self: center;
}
a{
  text-decoration: none;
  color: black;
}
/* Home */
/* .homeContainer{
  display:flex;
  margin:4%;
} */

.writtenContent{
display:flex;
flex-direction: column;
justify-content: center;
align-content: center;
}
.essentprojectInfo{
  display:flex;
  justify-content: space-evenly;
  align-items: center;
}
.infoP{
  width: 40%;
}
.nasaprojectInfo{
  display:flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
}

.ricknmortyprojectInfo{
  display:flex;
  justify-content: space-evenly;
  align-items: center;
}
.expatjournalInfo{
  display:flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
}
.btnn{
  margin-top:1%;
  margin-bottom: 4%;
  background-color: tan;
  border: none;
  height: 5vh;
  width: 15vw;
  border-radius: 15px;
}
.iframes{
  display:flex;
  flex-wrap: wrap;
  margin: 2%;
  justify-content: space-evenly;
}
.indIframe{
  margin: 2%;
width: 45%;
}
.project{
  width: 100%;
  height: 45vh;
  border: none;
}
.resume{
  height: 100vh;
}
.ghl{
  width: 100%;
  display:flex;
  justify-content: space-evenly;
}